In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

,Symbol,Open,High,Low,Last Traded Price,Change,%Change,Traded Volume(lacs),Traded Value(crs),52 Week High,52 Week Low,365 Days % Change,30 Days % Change
0,NIFTY 50,"12,906.45","12,916.75","12,805.20","12,821.05",-37.35,-0.29,"2,393.54","15,101.53","13,145.85","7,511.10",6.51,8.95
1,GRASIM,850.20,864.75,847.05,863.80,20.70,2.46,18.68,160.37,873.80,385.05,9.20,10.74
2,M&M,722.00,736.80,720.00,730.35,10.40,1.44,38.62,281.55,745.50,245.40,35.60,22.31
3,HCLTECH,824.10,838.15,819.60,835.35,10.65,1.29,41.93,347.81,910.70,375.25,-24.61,-1.47
4,BAJAJ-AUTO,"3,053.00","3,118.00","3,053.00","3,083.30",32.05,1.05,6.60,203.85,"3,315.15","1,788.65",-2.98,6.50

In [4]:
print(df['Low'])

0     12,805.20
1        847.05
2        720.00
3        819.60
4      3,053.00
5      3,465.00
6        849.65
7        594.05
8        395.65
9      4,640.00
10       347.20
11       541.50
12     1,308.15
13     4,773.80
14    23,700.00
15       502.30
16       414.15
17       171.05
18       460.10
19     2,187.65
20       123.35
21     1,855.00
22       728.40
23       192.55
24       101.60
25        79.45
26       659.00
27     1,111.15
28     8,671.00
29     2,680.00
30       336.00
31     1,930.05
32     4,792.45
33        93.40
34    17,280.00
35     2,122.55
36       221.00
37       240.50
38     2,976.10
39        84.55
40     1,391.30
41       193.00
42     2,117.15
43       467.50
44     3,490.00
45     1,098.30
46       846.70
47       375.05
48       835.00
49     6,908.00
50     2,526.00
Name: Low, dtype: object

In [5]:
print(df['Low'].dtype)

object

In [6]:
print(df['Change'].dtype)

float64

In [9]:
print(df['Symbol'].astype('category'))

0       NIFTY 50
1         GRASIM
2            M&M
3        HCLTECH
4     BAJAJ-AUTO
5       DIVISLAB
6        SBILIFE
7       AXISBANK
8     ADANIPORTS
9     BAJFINANCE
10         WIPRO
11     TATASTEEL
12         TITAN
13       DRREDDY
14      SHREECEM
15     SUNPHARMA
16           UPL
17    TATAMOTORS
18    BHARTIARTL
19          HDFC
20     COALINDIA
21     KOTAKBANK
22         CIPLA
23           ITC
24          GAIL
25          ONGC
26      HDFCLIFE
27            LT
28    BAJAJFINSV
29           TCS
30      JSWSTEEL
31      RELIANCE
32    ULTRACEMCO
33          NTPC
34     NESTLEIND
35    HINDUNILVR
36      HINDALCO
37          SBIN
38    HEROMOTOCO
39           IOC
40      HDFCBANK
41     POWERGRID
42    ASIANPAINT
43     ICICIBANK
44     BRITANNIA
45          INFY
46         TECHM
47          BPCL
48    INDUSINDBK
49        MARUTI
50     EICHERMOT
Name: Symbol, dtype: category
Categories (51, object): ['ADANIPORTS', 'ASIANPAINT', 'AXISBANK', 'BAJAJ-AUTO', ..., 'TITAN', 'ULTRACEMCO', 'UPL', 'WIPRO']