In [1]:
import numpy as np

In [2]:
myarr = np.array([3,6,32,7])

In [3]:
myarr

array([ 3,  6, 32,  7])

In [4]:
myarr = np.array([[3,6,3423422,7]], np.int8)

In [5]:
myarr

array([[  3,   6, -66,   7]], dtype=int8)

In [6]:
myarr[0, 1]

6

In [7]:
myarr.shape

(1, 4)

In [8]:
myarr.dtype

dtype('int8')

In [9]:
myarr[0, 1] = 45

In [10]:
myarr

array([[  3,  45, -66,   7]], dtype=int8)

# Array Creation: Coversion from other Python Structures

In [11]:
listarray = np.array([[1,2,3], [5,8,5], [0,3,1]])

In [12]:
listarray

array([[1, 2, 3],
       [5, 8, 5],
       [0, 3, 1]])

In [13]:
listarray.dtype

dtype('int32')

In [14]:
listarray.shape

(3, 3)

In [15]:
listarray.size

9

**Not Recommended for Object Type**

In [16]:
np.array({34,23,23})

array({34, 23}, dtype=object)

In [17]:
zeros = np.zeros((2, 5))

In [18]:
zeros

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [19]:
zeros.dtype

dtype('float64')

In [20]:
zeros.shape

(2, 5)

In [21]:
rng = np.arange(15)

In [22]:
rng

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [23]:
lspace = np.linspace(1,50,10)

In [24]:
lspace

array([ 1.        ,  6.44444444, 11.88888889, 17.33333333, 22.77777778,
       28.22222222, 33.66666667, 39.11111111, 44.55555556, 50.        ])

In [25]:
lspace = np.linspace(1,5,4)
lspace

array([1.        , 2.33333333, 3.66666667, 5.        ])

**Empty array with random values**

In [26]:
emp = np.empty((4,6))

In [27]:
emp

array([[6.95316144e-310, 6.95316143e-310, 0.00000000e+000,
        1.16073170e-311, 1.16118367e-311, 4.94065646e-324],
       [0.00000000e+000, 0.00000000e+000, 4.04738577e-320,
        0.00000000e+000, 1.23022346e-321, 1.16121128e-311],
       [1.78020576e-306, 1.60220800e-306, 0.00000000e+000,
        1.16121128e-311, 1.05700515e-307, 1.11261774e-306],
       [1.29060871e-306, 4.94065646e-322, 8.34445138e-308,
        1.37959129e-306, 1.02360528e-306,             nan]])

**Empty array with "lspace" values**

In [28]:
emp_like = np.empty_like(lspace)

In [29]:
emp_like

array([1.        , 2.33333333, 3.66666667, 5.        ])

In [30]:
ide = np.identity(45)

In [31]:
ide

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [32]:
ide.shape

(45, 45)

In [33]:
arr = np.arange(99)

In [34]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98])

**It will divide array into 3 arrays with element 33 ==> It can't be (3, 31) becasuse total element is 99**

**Still "arr" is not changed. This will change arr = arr.reshape(3, 33)**

In [35]:
arr.reshape(3, 33)

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
        16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31,
        32],
       [33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48,
        49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64,
        65],
       [66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81,
        82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97,
        98]])

**1D array**

In [36]:
arr = arr.ravel()

In [37]:
arr.shape

(99,)

In [38]:
x = [[1,2,3],[4,5,6],[7,1,0]]

In [39]:
ar = np.array(x)

In [40]:
ar

array([[1, 2, 3],
       [4, 5, 6],
       [7, 1, 0]])

In [41]:
ar.sum(axis = 0)

array([12,  8,  9])

In [42]:
ar.sum(axis = 1)

array([ 6, 15,  8])

In [43]:
ar.T

array([[1, 4, 7],
       [2, 5, 1],
       [3, 6, 0]])

In [44]:
ar.flat

In [45]:
for item in ar.flat:
    print(item)

1
2
3
4
5
6
7
1
0

In [46]:
ar.ndim

2

In [47]:
ar.size

9

In [48]:
ar.nbytes

36

In [49]:
one  = np.array([1,3,4,634,2])

In [50]:
one.argmax() # Give Index of Maximum element

3

In [51]:
one.argmin() # Give Index of Minimum element

0

In [52]:
one.argsort() # Give Indices of sorting element

array([0, 4, 1, 2, 3], dtype=int64)

In [53]:
ar

array([[1, 2, 3],
       [4, 5, 6],
       [7, 1, 0]])

In [54]:
ar.argmin() # Give Index of Maximum element

8

In [55]:
ar.argmax() # Give Index of Minimum element

6

In [56]:
ar.argmax(axis = 0) # Give Index of Maximum element in Column

array([2, 1, 1], dtype=int64)

In [57]:
ar.argmax(axis = 1) # Give Index of Maximum element in Row

array([2, 2, 0], dtype=int64)

In [58]:
ar.argsort(axis = 1) # Give Indices of sorting element in Row

array([[0, 1, 2],
       [0, 1, 2],
       [2, 1, 0]], dtype=int64)

In [59]:
ar.argsort(axis = 0) # Give Indices of sorting element in Column

array([[0, 2, 2],
       [1, 0, 0],
       [2, 1, 1]], dtype=int64)

In [60]:
ar.ravel()

array([1, 2, 3, 4, 5, 6, 7, 1, 0])

In [61]:
ar.reshape((9,1))

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7],
       [1],
       [0]])

In [62]:
ar.reshape((9,))

array([1, 2, 3, 4, 5, 6, 7, 1, 0])

In [63]:
ar2 = np.array([[1, 2, 1],
       [4, 0, 6],
       [8, 1, 0]])

In [64]:
ar + ar2

array([[ 2,  4,  4],
       [ 8,  5, 12],
       [15,  2,  0]])

In [65]:
print(ar)
print()
print(ar2)

[[1 2 3]
 [4 5 6]
 [7 1 0]]

[[1 2 1]
 [4 0 6]
 [8 1 0]]

In [66]:
ar * ar2

array([[ 1,  4,  3],
       [16,  0, 36],
       [56,  1,  0]])

In [67]:
np.sqrt(ar)

array([[1.        , 1.41421356, 1.73205081],
       [2.        , 2.23606798, 2.44948974],
       [2.64575131, 1.        , 0.        ]])

In [68]:
ar.sum()

29

In [69]:
ar.max()

7

In [70]:
ar.min()

0

In [71]:
ar

array([[1, 2, 3],
       [4, 5, 6],
       [7, 1, 0]])

In [72]:
np.where(ar > 5)

(array([1, 2], dtype=int64), array([2, 0], dtype=int64))

In [73]:
type(np.where(ar > 5))

tuple

In [74]:
np.count_nonzero(ar)

8

In [75]:
np.nonzero(ar)

(array([0, 0, 0, 1, 1, 1, 2, 2], dtype=int64),
 array([0, 1, 2, 0, 1, 2, 0, 1], dtype=int64))

In [76]:
ar[1,2] = 0

In [77]:
np.nonzero(ar)

(array([0, 0, 0, 1, 1, 2, 2], dtype=int64),
 array([0, 1, 2, 0, 1, 0, 1], dtype=int64))

In [78]:
import sys

In [79]:
py_ar = [0,4,55,2]

In [80]:
np_ar = np.array(py_ar)

In [81]:
sys.getsizeof(1) * len(py_ar)

112

In [82]:
np_ar.itemsize * np_ar.size

16

**Numpy Array to Python List**

In [83]:
np_ar.tolist()

[0, 4, 55, 2]